.container2 {
    -fx-padding: 20 30 10 0;
    -fx-spacing: 10 ;
}

.container2 Button {
    -fx-background-color: #273c75;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.2em;
    -fx-background-radius: 5;
}

.container2 Button:hover {
    -fx-cursor: hand;
}

.check-box:selected .mark {
    -fx-background-color: #f5f6fa;
}

.check-box:selected .box {
    -fx-background-color: #273c75;
}

.questionBank {
    -fx-font-size: 2em;
    -fx-text-fill: #c23616;
}

.subTitle {
    -fx-font-size: 1.4em;
    -fx-text-fill: #c23616;
}
