.tab {
    -fx-padding: 5 20 5 20;
    -fx-background-color: #FFFFFF;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #40739e;
    -fx-font-size: 1.3em;
}
.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: black;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #FFFFFF;
}

.tab-pane .tab {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: E8E8E8;
}
.tab-pane .tab:selected {
    -fx-border-width: 1 1 0 1;
    -fx-border-color: E8E8E8;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}